body {
  background-color: rgb(173, 173, 238);
  margin: 0;
  padding: 0;
}

#root {
  width: 30%;
  margin: 0 auto;
  display: flex;
  padding: 2rem;
}

.parent {
  display: flex;
  flex-direction: column;
  width: 10rem;
  gap: 1rem;
  justify-content: center;
}
